@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Montserrat:300,400,500,600,700&display=swap');

body{
  font-family: $primary-font;
  font-size: 16px;
  color: $text-color;
}

.site-hero {
  h1, h2, h3, h4, h5, h6{
    color: $white;
  }

  .site-hero-content {
    img {
      height: 150px;
      border-radius: 50%;
      margin-bottom: 15px;
    }
  }
}

.navbar-brand {
  .navbar-title {
    padding-left: 15px;
    color: $secondary-color;
    font-size: 1.5em;
    font-family: montserrat,sans-serif;
    font-weight: 600;
  }

  img {
    padding-bottom: 10px;
  }
}

.site-navigation .nav-item:last-child {
  margin-left: inherit !important;
}

.site-expertise {
  background: inherit !important;
}

.col-center {
  text-align: center;
}

.site-tech {
  padding: 120px 0;
  overflow: hidden;
}

.site-tech-product-image img {
  height: 7em;
}

.site-footer {
  padding: 75px 0 50px 0 !important;
}

.site-footer-logo img {
  display: inline-block;
  height: 4em;  
}

.site-footer-social {
  ul {
    display: block;
    padding: 0;

    li {
      list-style-type: none;
      display: inline;
      padding-left: 10px;
      padding-right: 10px;

      :hover {
        opacity: 1;
      }

      a {
        color: $white;
        opacity: .6;

        i {
          font-size: 40px;
        }
      }
    }
  }
}

.title-404 {
  margin-top: 150px;
  margin-bottom: 200px;

  h1 {
    font-size: 8.4em;
    color: $secondary-color;
  }
}